.welcome
	.back
		%p
			=link_to "< Back", "http://muellermegawatt.org/"
	.title 
		= image_tag('icons/sun.png')
		%p MUELLER SOLAR 2015
 
.section#solar-2015
	.container#solar-initiative
		.linkbar
			%ul
				%li
					%a{:href => "#overview-tab", :id => "overview"}Overview
				%li
					%a{:href => "#how-it-works-tab", :id => "calendar"}How It Works
				%li
					%a{:href => "#calendar-tab", :id => "calendar"}Timeline
				%li
					%a{:href => "#meetings-tab", :id => "meetings"}Meetings
				%li
					%a{:href => "#solar-installers-tab", :id => "Participating Solar Installers"}Participating Solar Installers

	.container#main-content	
		#overview-tab
			%h1 Overview
			.about-paragraph
				%p We are organizing a group solar purchase program to help meet recent demand. The MMP helps reduce prices by streamlining the process between Homeowners, Solar Installers, the POA and Austin Energy. Additionally, MMP members focus on education to help prospective buyers determine if going solar is right for them. If you are interested in joining the over 225 homes in Mueller with solar, follow check out the "How It Works" section to learn about next steps.
		#how-it-works
			%h1 How It Works

		#calendar-tab
			%h1 Timeline
		#meetings-tab
			%h1 Meetings
		#solar-installers-tab
			%h1 Participating Solar Installers



