.container#about-tab
	%ul.navigation
		%li
			%a{:href => "#about_us-tab", :id => "about"}About Us
		%li
			%a{:href => "#history-tab", :id => "history"}History
		%li
			%a{:href => "#who_we_are-tab", :id => "who_we_are"}Who We Are
		%li
			%a{:href => "#where_we_are-tab", :id => "where_we_are"}Where We Are

	#about_us-tab 
		%h1 About Us
	#history-tab 
		%h1 History
	#who_we_are-tab 
		%h1 Who We Are
	#where_we_are-tab 
		%h1	Where We Are 
