.banner
	.message
		%p#hey
			=link_to "GO SOLAR NOW", initiative_path
		%P 
			=link_to "Learn about the GO SOLAR 2015 Initiative", initiative_path

	%p#learn-more or Scroll Down to learn more about the Mueller Megawatt Project

	.down-arrow
		= image_tag('icons/previous.png')


