%h1 Map

<iframe width="100%" height="600" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col2+from+1MXFzMJdnIMfeNdQTz36pARPgpE_uhqJvL2kUhDU&amp;viz=MAP&amp;h=false&amp;lat=30.292246758681166&amp;lng=-97.70263978115084&amp;t=1&amp;z=17&amp;l=col2"></iframe>


.addyourinstall
	%p Don't see your Install? Send your name, address, system installer and system size to add@muellermegawatt.org