.container#installations-tab.anchor
	%ul.navigation#sub-nav
		%li
			%a{:href => "#map-tab", :id => "map"}Map
		%li
			%a{:href => "#heatmap-tab", :id => "map"}Heat Map
		%li
			%a{:href => "#pictures-tab", :id => "pictures"}Pictures

	.content#map-tab.list
		= render partial: 'shared/map'
	.content#heatmap-tab.list
		= render partial: 'shared/heatmap'
	.content#pictures-tab.list
		= render partial: 'shared/pictures'
