.container#installations-tab.anchor
	%ul.navigation#sub-nav
		%li
			%a{:href => "#map-tab", :id => "map"}Map
		%li
			%a{:href => "#pictures-tab", :id => "pictures"}Pictures
	
	.content#map-tab.list
		= render partial: 'shared/map'
	.content#pictures-tab.list
		= render partial: 'shared/pictures'
