%h1 Solar FAQ
.download
	.pdf-icon
		= image_tag('pdf-icon-32px.png') 
		<a href="http://www.MuellerAustin.com/" target="_blank">Download the full Solar FAQ</a>
%ul#solar-faq
	%li
		%a{:href => "#q1"}How does shade affect a solar array?
	%li
		%a{:href => "#q2"}How long do solar panels last?
	%li
		%a{:href => "#q3"}How much does the power producing capacity of solar panels decrease over time?
	%li
		%a{:href => "#q4"}Is it true that solar panels use more energy to produce than they create over their productive life?
	%li
		%a{:href => "#q5"}Should I wait for new technology to come out in 10 years?
	%li
		%a{:href => "#q6"}How do solar systems help reduce my energy costs?
	%li
		%a{:href => "#q7"}Do I apply the 30% federal to the gross cost of the system or the net cost of the system?
	%li
		%a{:href => "#q8"}Will a solar array cause my property taxes to go up?
	%li
		%a{:href => "#q9"}How will solar panels affect my roof's warranty?
	%li
		%a{:href => "#q10"}Will my homeowner's insurance cover damage to my solar panels?
	%li
		%a{:href => "#q11"}How do the production warranties offered by manufacturers work?
	%li
		%a{:href => "#q12"}Should I be worried about hail or wind damage?
	%li
		%a{:href => "#q13"}What happens if my array is damaged?
	%li
		%a{:href => "#q14"}Can I repair damage on my own?
	%li
		%a{:href => "#q15"}How do I know if my roof can support solar panels?
	%li
		%a{:href => "#q16"}Do I need special permits for solar panels?
	%li
		%a{:href => "#q17"}How are solar panels attached to my roof?
	%li
		%a{:href => "#q18"}How do I know if the electrical system of my home can accommodate a solar array?
	%li
		%a{:href => "#q19"}What happens when I need to repair/replace my roof?
	%li
		%a{:href => "#q20"}How do I know if my array stops producing electricity?How do I know if the electrical system of my home can accommodate a solar array?


.faq#q1
	%h2 How does shade affect a solar array?
	%p Shading is not well tolerated by solar arrays. If as little as 10% of a solar array is shaded (by a structure such as a chimney or tree), output can drop as much as 50%. This has to do with how solar arrays are wired. Because solar panels are wired in series within a given string (Every solar installation is wired in strings to compose the total array, for instance, for a 27 panels system could be 3 strings of 9), if one solar panels in a string is shaded, damaged, or otherwise out of commission, the entire string can be running sub-optimally, causing the inverter to ignore the string all together. Additionally, the individual cells that compose a solar panel are wired in series, meaning a small amount of shading on a panel can cause a disproportionately large drop in output, inevitably reducing the other panels on the strings ability to produce power.
	%br
	%p There are many resources online concerning shading. The below article explains the shading problem well.

	%a http://www.renewableenergyworld.com/rea/news/article/2009/02/shade-happens-54551
.faq#q2
	%h2 How long do solar panels last?
	%p Incredibly, no one really knows how long solar panels last. This is not only because the technology is relatively new, but also because many of the panels first built are still producing electricity. In light of this, the better question to ask is:
.faq#q3
	%h2 How much does the power producing capacity of solar panels decrease over time?
	%p The production ability of all solar panels degrade over time due to the effect UV light has on silicon. Most large manufacturers have 20 or 25 year solar production warranties. Structured to accommodate the degradation of silicone due to UV light, these warranties typically warranty a certain level percent of initial production at certain time intervals.
.faq#q4
	%h2 Is it true that solar panels use more energy to produce than they create over their productive life?
	%p No. The straight-forward answer is, solar panels have recently been calculated to produce the amount of energy needed to produce them in 1 to 2.5 years, meaning that for the rest of thesystem's 25-30 year life, the panel will be producing non-CO2 emitting energy.

	%br
	%p More detail (if you’re interested):
	%p Recent estimations for the energy required to produce mono-crystalline, poly-crystalline and thin film solar panels is 600, 420 and 120 kWh/m^2, respectively. These three technologies vary in efficiencies, and therefore the kWh produced per m^2. Using 15%, 12% and 6% efficiencies, mono-crystalline panels offset the energy required to produce them in 2.5 years, while polycrystalline and thin film take 2.1 and 1.2 years, respectively.

.faq#q5
	%h2 Should I wait for new technology to come out in 10 years?
	%p This is a very common concern. How do you know that better, more efficient, or less costly technology won't come out next year? While there is no guarantee that this can't happen, we believe that if you follow this logic, you will never make an investment in solar. Even if something more efficient comes out next year, the possibility that something more efficient could come out the year after still exists.
	%br
	%p The best way to approach making an investment in solar is to determine if it makes sense financially versus your alternative uses for that money. As a homeowner, it is unlikely that you will find an alternative home investment that has a better payback than a solar array (this varies for everyone). If you determine that an investment in solar provides an attractive rate or return on your capital, the emergence of new technology does not effect the attractiveness of the opportunity you took advantage of, i.e. new technology does not change how productive your panels are or how much you get paid for electricity. As far as you are concerned, nothing has changed. It is better to take advantage of a positive, financially attractive, carbon-reducing project every 10 years than to never make the investment.
	%br
	%p Additionally, history has shown us that if you are considering taking advantage of utility or government incentives in order to purchase a solar array, these incentives will become less attractive as technology and costs become more attractive. If you wait 5 years, you may end up paying the same amount of money for a 10 kW array, except, instead of having 50% of an installation subsidized, only 25% will be subsidized.

.faq#q6 
	%h2 How do solar systems help reduce my energy costs?
	%p While this many seem like an obvious question, I believe it actually has a three part answer.
	%br
	%p Solar panels reduce your energy costs by:

	%br
	%p The obvious: ...producing electricity, which allows you to draw fewer kwh of electricity from the grid, reducing your energy cost.

	%br
	%p Not obvious: ...reducing the amount of radiant energy that directly hits your roof. Since the sun is no longer directly heating your home, you need to use your a/c less. This argument only holds up for home farther south that use their a/c in more months of the year than they use their heater during the year.

	%br
	%p Theoretical: ...making us acutely aware of just how much energy we are consuming on a daily basis when we do the significant amount of research necessary to make an investment in solar. By becoming more aware of the true cost of not turning off all the lights when we leave our homes, we are more likely to pursue better overall energy conservation habits, hopefully curbing our overall energy use. Some of us may fall victim to the "Snackwells Effect", but I believe the majority of us reduce our energy consumption after purchasing a solar array.

.faq#q7 
	%h2 Do I apply the 30% federal to the gross cost of the system or the net cost of the system?
	%p If you've been doing research on this for over 10 minutes, you are likely frustrated with the constant: "Please consult your tax professional to determine..." This is absolutely the correct advice, but what we can say is, 95% of the time, any tax credits (state or federal) should be taken on the net amount of the system cost minus any up-front incentives IF the up-front incentives are not taxed.

	%br
	%p If the up-front incentives are taxed (as is often the case for commercial installations), the customer can take the tax credit on the gross cost of the system. The above governs the majority of installations, but not all, so consulting a tax professional is necessary since everyone's financial situation is different. When SunMath runs the numbers, we always assume the most conservative assumption.

.faq#q8
	%h2 Will a solar array cause my property taxes to go up?
	%p Depends on the state, but generally speaking, renewable energy (solar) home improvements are exempted from property taxes. For instance, in Texas, if an appraisal assigns $20,000 of value to your solar array, you would only pay taxes on the appraisal ex the $20,000. It is necessary to check your particular state's laws, but in Texas, they are exempt.

.faq#q9 
	%h2 How will solar panels affect my roof's warranty?
	%p Policy varies widely among roofers. SunMath highly recommends that you contact the roof's installer to determine their policy. Typically, an installer's first reaction is to say that the warranty will be voided with any modification, but after some discussion, installers are more likely to agree to keep the roof warrantied, but will only pay for repairs that are necessary due to failure that is clearly the roofer's fault and not the result of the solar installation.

.faq#q10 
	%h2 Will my homeowner's insurance cover damage to my solar panels?
	%p As with the above question, it is highly recommended that you contact your insurance company to be sure that you solar panels are included under your homeowner insurance policy. Typically homeowner's insurance policies cover all "attached structures" which means your insurance policy would cover your installation. However, because the cost to re-build your home increases with the installation of a solar array, it is necessary to increase the amount of coverage your policy provides. Remember, If your installation is subsidized with any federal, state or utility rebates or tax credits, you must increase your coverage by the gross cost of a system, not your net cost. The federal tax credit is a one time deal and most utility and states rebates are as well.

.faq#q11 
	%h2 How do the production warranties offered by manufacturers work?
	%p Most large manufacturers have 20 or 25 year solar production warranties. Structured to accommodate the degradation of silicon due to UV light, these warranties typically guarantee a certain percent of initial production after some number of years.

	%br
	%p Examples of some manufacturers Limited Power Output Warranty:

	%br
	%p.italic Kyocera: "Kyocera warrants that if, (a) within the first ten (10) years from the date of sale to the Customer, the PV Module(s) exhibits a power output of less than 90% of the original minimum rated power specified at the time of sale, or (b) within twenty years from the date of sale to the Customer, the PV Module(s) exhibits a power output of less than 80% of the original minimum rated power specified at the time of sale, Kyocera will deliver additional PV Module(s) to replace the missing power output, or repair or replace the PV Module(s), at Kyocera's sole option."

	%br
	%p.italic Suntech: "If, within a period of (25) years from the date shown in the invoice to the customer any module(s) exhibits a power output less than 80% of the minimum “Peak Power at STC” as specified as of the Sales Date in SUNTECH POWER´s Flash Report..." (they also warranty against less than 90% production within 12 years)

	%br
	%p The important thing to notice here is, the long 20 to 25 year warranty touted by these companies is only a warranty that the panels will produce X% of energy after Y number of years, which, is what we care about.

	%br
	%p  Another important thing to notice is that it is a percent of the "minimum rated power" for the panel. The way "minimum rated power" is determined varies based on the manufacturer. Some companies say that the rating of the panel (ex. 175W) is the minimum amount that panel will produce, while others say that their panels produce "within 5%" of their rating. Determining the differences between manufacturers is not really necessary for a residential roof-top system, but it is something to be aware of.

.faq#q12
	%h2 Should I be worried about hail or wind damage?
	%p Solar panels are typically built with high-strength tempered glass and are often rated to sustain direct hits from 1-inch hail at 50 mph. Since these arrays are typically mounted with the pitch of your roof (at an angle), it is unlikely for them to sustain a direct hit. This is especially unlikely for south-facing panels (storms typically blow in from the west), but we would not recommend against a west facing array due to hail risk because it is still a low probability event.

	%br
	%p If your panels are damaged in a hail storm, they should be covered by your homeowner's insurance policy (call to verify). If your panels were damaged, it is more than likely you will need to replace your roof, so from a monetary standpoint, you will have already paid your deductible, making your replacement cost $0 (not counting your time and effort). Manufacturers typically expect their systems, when mounted properly, to sustain up to 125 mph winds. Category 2 hurricanes peak out at 110 mph, so if you aren't within ~150 miles of the coast, it is highly unlikely your system will ever sustain wind damage.

.faq#q13
	%h2 What happens if my array is damaged?
	%p If any segment of your array (inverter(s), panels, wiring) is damaged, it is best to call the installer to explain your situation regardless of who is responsible for replacement. For instance, even if a panel failed due to product quality, it is best to contact the installer. They will be able to contact the company and direct all labor that needs to be occur to get the array up and running again.

.faq#q14
	%h2 Can I repair damage on my own?
	%p Under no circumstances should you try to repair an array on your own, even if the part you are trying to fix is out of warranty. By attempting to repair your own array, you will immediately void all warranties associated with the array including the warranty on the panels and inverter and any installation warranty you had from the installation company.

.faq#q15
	%h2 How do I know if my roof can support solar panels?
	%p Solar panels are actually quite light. In addition to the racking system and additional brackets needed for correct installation, each installation typically weighs less than 40 pounds per sq. ft. A good rule of thumb is: If it is safe to walk on, it is safe for a solar array.

.faq#q16
	%h2 Do I need special permits for solar panels?
	%p Some cities require you to apply for a permit to install solar panels. Some cities require a structural engineer to sign off on all installations, while others only require an engineer sign off if the array is not a "flush-mounted" solar array (the arrays are not mounted at the same angle as your roof). In addition to any permitting for local governments, you will have to contact your utility as well as your homeowners association (HOA) (if you have one). Both your utility and HOA should have pre-determined procedures for you to follow for the proper permitting for your solar array.

	%br
	%p Given the popularity of solar panels these days, most HOA's will approve a roof-top solar array with little to no fuss. The only two issues that can make things more complicated are if the panels are not "flush mounted", or if they overhang the edge of the roof. Solar arrays that are not installed at the angle of the roof are rarely the most cost effective solar installation for a property owner and solar arrays that overhang the edge of a roof are typically not desirable for aesthetic reasons.

.faq#q17
	%h2 How are solar panels attached to my roof?
	%p Solar panels can be attached to your roof in a variety of ways. It is relatively easy to install a solar array on the two most common types of roofs: composite and metal. While it is possible to attach arrays to wooden, slate, or tile roofs, it often costs more money. Attaching a solar array to a composite roof is relatively simple with off the shelf brackets made specifically for mounting panels. While it is possible to attach panels using brackets not make specifically for solar arrays, it is generally not recommended. All hardware used to mount the panels should be stainless steel to prevent rust. Remember, this installation should be installed such that it can operate with little to maintenance for 30+ years.

.faq#q18
	%h2 How do I know if the electrical system of my home can accommodate a solar array?
	%p Solar arrays typically do not require any additions or upgrades to your current electrical system. The most common upgrade is an upgrade to a larger breaker panel. Since your array would be tied into the box, there need to be enough open circuits to accommodate the system size you put in. If you do not have enough space, your contractor will be able to have a qualified master electrician install a new box. Additionally, depending on the code in your respective area, and the requirements of the array, a larger electrical tie-in directly from the grid may be necessary. This is a very rare occurrence, but it can be required.
	%br
	%p It doesn't hurt to verify that your contractor is aware of what size panel you have so there are no surprises when they go to tie into the panel.

.faq#q19
	%h2 What happens when I need to repair/replace my roof?
	%p In order to re-roof, it will be necessary for you to have the solar array removed and re-installed. It is recommended that if you have any repairs that need to be done to the roof to have them done prior to the installation of a solar array. If it is necessary to have them removed, it is typically best to have the company who initially did the installation do the removal and re-install, especially if the installation is still warrantied by the installer (installation warranties typically last 5 years or less). If the company that installed the array is unavailable or expensive, other installers should be able to do the work as well.

.faq#q20
	%h2 How do I know if my array stops producing electricity?How do I know if the electrical system of my home can accommodate a solar array?
	%p If you purchase a monitoring kit with your solar array, you will be able to monitor your solar production online or on a handheld device. In lieu of a monitoring device, you can physically inspect the inverter's screen to confirm the array has been/is producing electricity.

	%br
	%p Many utilities will also monitor the production from solar arrays that they have provided rebate dollars for to confirm that they performing as promised. After all, they want to make sure their investment dollars are at work, too.

	%br
	%p We recommend that you arrange for your installer to come out annually, at least over the life of the installation warranty they provide, to confirm that everything is operating as expected.