%h1 Solar Dictionary
.download
	.pdf-icon
		= image_tag('pdf-icon.png') 
		%p Download the full solar dictionary here:
%ul
	%li
		%a{:href => "#alternating-current-tab", :id => "alternating-current"}Alternating Current
	%li
		%a{:href => "#solar-array-tab", :id => "solar-array"}Array
	%li
		%a{:href => "#azimuth-tab", :id => "azimuth"}Azimuth
	%li
		%a{:href => "#alternating-current-tab", :id => "alternating-current"}Alternating Current
	%li
		%a{:href => "#solar-array-tab", :id => "solar-array"}Array
	%li
		%a{:href => "#azimuth-tab", :id => "azimuth"}Azimuth
	%li
		%a{:href => "#alternating-current-tab", :id => "alternating-current"}Alternating Current
	%li
		%a{:href => "#solar-array-tab", :id => "solar-array"}Array
	%li
		%a{:href => "#azimuth-tab", :id => "azimuth"}Azimuth
	%li
		%a{:href => "#alternating-current-tab", :id => "alternating-current"}Alternating Current
	%li
		%a{:href => "#solar-array-tab", :id => "solar-array"}Array
	%li
		%a{:href => "#azimuth-tab", :id => "azimuth"}Azimuth
	%li
		%a{:href => "#alternating-current-tab", :id => "alternating-current"}Alternating Current
	%li
		%a{:href => "#solar-array-tab", :id => "solar-array"}Array
	%li
		%a{:href => "#azimuth-tab", :id => "azimuth"}Azimuth
	%li
		%a{:href => "#alternating-current-tab", :id => "alternating-current"}Alternating Current
	%li
		%a{:href => "#solar-array-tab", :id => "solar-array"}Array
	%li
		%a{:href => "#azimuth-tab", :id => "azimuth"}Azimuth
	%li
		%a{:href => "#alternating-current-tab", :id => "alternating-current"}Alternating Current
	%li
		%a{:href => "#solar-array-tab", :id => "solar-array"}Array
	%li
		%a{:href => "#azimuth-tab", :id => "azimuth"}Azimuth
	%li
		%a{:href => "#alternating-current-tab", :id => "alternating-current"}Alternating Current
	%li
		%a{:href => "#solar-array-tab", :id => "solar-array"}Array
	%li
		%a{:href => "#azimuth-tab", :id => "azimuth"}Azimuth

.dictionary#alternating-current-tab
	%h2 Alternating Current
	%p AC is the form of electric power delivered to businesses and residences. Solar arrays produce direct current (DC) electric power. In order to convert from DC power to AC power, an inverter is needed. In combination with other losses in the system (wiring, heat, etc.), about 23% of the power is lost, often referred to as the "Derate Factor". 
.dictionary#solar-array-tab
	%h2 Array
.dictionary#azimuth-tab
	%h2 Azimuth 
