%h1 Solar FAQ
.download
	.pdf-icon
		= image_tag('pdf-icon-32px.png') 
		<a href="http://www.MuellerAustin.com/" target="_blank">Download the full Solar FAQ</a>
%ul#solar-faq
	%li
		%a{:href => "#q1", :id => "q1-id"}How does shade affect a solar array?
	%li
		%a{:href => "#q2"} How long do solar panels last?
	%li
		%a{:href => "#q3", :id => "q3-id"} How much does the power producing capacity of solar panels decrease over time?
	%li
		%a{:href => "#q4"} Is it true that solar panels use more energy to produce than they create over their productive life?
	%li
		%a{:href => "#q5"}
	%li
		%a{:href => "#q6"}
	%li
		%a{:href => "#q7"}
	%li
		%a{:href => "#q8"}
	%li
		%a{:href => "#q9"}
	%li
		%a{:href => "#q10"}
	%li
		%a{:href => "#q11"}
	%li
		%a{:href => "#q12"}
	%li
		%a{:href => "#q13"}
	%li
		%a{:href => "#q14"}


.faq#q1
	%h2 How does shade affect a solar array?
	%p Shading is not well tolerated by solar arrays. If as little as 10% of a solar array is shaded (by a structure such as a chimney or tree), output can drop as much as 50%. This has to do with how solar arrays are wired. Because solar panels are wired in series within a given string (Every solar installation is wired in strings to compose the total array, for instance, for a 27 panels system could be 3 strings of 9), if one solar panels in a string is shaded, damaged, or otherwise out of commission, the entire string can be running sub-optimally, causing the inverter to ignore the string all together. Additionally, the individual cells that compose a solar panel are wired in series, meaning a small amount of shading on a panel can cause a disproportionately large drop in output, inevitably reducing the other panels on the strings ability to produce power.
	%br
	%p There are many resources online concerning shading. The below article explains the shading problem well.

	%a http://www.renewableenergyworld.com/rea/news/article/2009/02/shade-happens-54551
.faq#q2
	%h2 How long do solar panels last?
	%p Incredibly, no one really knows how long solar panels last. This is not only because the technology is relatively new, but also because many of the panels first built are still producing electricity. In light of this, the better question to ask is:
.faq#q3
	%h2 How much does the power producing capacity of solar panels decrease over time?
	%p The production ability of all solar panels degrade over time due to the effect UV light has on silicon. Most large manufacturers have 20 or 25 year solar production warranties. Structured to accommodate the degradation of silicone due to UV light, these warranties typically warranty a certain level percent of initial production at certain time intervals.
.faq#q4
	%h2 Is it true that solar panels use more energy to produce than they create over their productive life?
	%p No. The straight-forward answer is, solar panels have recently been calculated to produce the amount of energy needed to produce them in 1 to 2.5 years, meaning that for the rest of thesystem's 25-30 year life, the panel will be producing non-CO2 emitting energy.

	%br
	%p More detail (if you’re interested):
	%p Recent estimations for the energy required to produce mono-crystalline, poly-crystalline and thin film solar panels is 600, 420 and 120 kWh/m^2, respectively. These three technologies vary in efficiencies, and therefore the kWh produced per m^2. Using 15%, 12% and 6% efficiencies, mono-crystalline panels offset the energy required to produce them in 2.5 years, while polycrystalline and thin film take 2.1 and 1.2 years, respectively.

.faq#q5
.faq#q6
.faq#q7
.faq#q8
.faq#q9