%ul#thanks-footer 
	%li Built using free/open source software:
	%li 
		=link_to "Ruby on Rails", "http://rubyonrails.org/", target: "blank"
	%li
		=link_to "Heroku", "http://heroku.com/", target: "blank"
	%li
		=link_to "LightSlider", "http://sachinchoolur.github.io/lightslider/index.html", target: "blank"
	%li
		=link_to "Google Maps", "http://maps.google.com/", target: "blank"
	%li 
		=link_to "Foreman", "https://github.com/ddollar/foreman", target: "blank"
	%li 
		=link_to "Simple Form", "https://github.com/plataformatec/simple_form", target: "blank"
	%li 
		=link_to "JQuery", "http://jquery.com/", target: "blank"
	%li 		
		=link_to "Mail Form", "https://github.com/plataformatec/mail_form", target: "blank"