%ul#thanks-footer 
	%li Built using free/open source software:
	%li 
		=link_to "Ruby on Rails", "http://rubyonrails.org/"
	%li
		=link_to "Heroku", "http://rubyonrails.org/"
	%li
		=link_to "LightSlider", "http://rubyonrails.org/"
	%li
		=link_to "Google Maps", "http://rubyonrails.org/"
	%li 
		=link_to "Foreman", "http://rubyonrails.org/"
	%li 
		=link_to "Simple Form", "http://rubyonrails.org/"
	%li 
		=link_to "JQuery", "http://rubyonrails.org/"
	%li 		
		=link_to "Mail Form", "http://rubyonrails.org/", target: "blank"