.toolbar
	.content
		.logo
			= image_tag('MMP-logo-small.png') 
		.navigation#main-nav
			%ul
				%li 
					%a About
				%li
					%a Installations
				%li 
					%a Resources
				%li 
					%a Press
				%li 
					%a Contact Us
				%li 
					%a Thanks
				%li 
					%a Disclosure

