.toolbar
	.container
		.logo
			= image_tag('MMP-logo-small.png') 

		.excuse
			%p Please excuse our mess while we build our new site!

		%ul.navigation#nav-main
			%li 
				%a.active{:href => "#about"} About
				/ %ul#dropdown
				/ 	%li
				/ 		%a{:href => "#"} About Us
				/ 	%li
				/ 		%a{:href => "#"} Timeline
				/ 	%li
				/ 		%a{:href => "#"} Press
				/ 	%li
				/ 		%a{:href => "#"} Thanks
				/ 	%li
				/ 		%a{:href => "#"} Disclosure		

			%li 
				%a{:href => "#resources-tab"} Resources
				/ %ul#dropdown
				/ 	%li
				/ 		%a{:href => "#"} Solar FAQ
				/ 	%li
				/ 		%a{:href => "#"} Solar Dictionary
				/ 	%li
				/ 		%a{:href => "#"} Useful Links


			%li 
				%a{:href => "#installations-tab"} Installations
				/ %ul#dropdown
				/ 	%li
				/ 		%a{:href => "#"} Statistics
				/ 	%li
				/ 		%a{:href => "#"} Map
				/ 	%li
				/ 		%a{:href => "#"} Pictures
			%li 
				%a{:href => "#contact-us-tab"} Contact Us



