.toolbar
	.logo 
		%h1 Mueller Megawatt Project
	.navigation
		%ul
			%li 
				%a About
			%li
				%a Installations
			%li 
				%a Resources
			%li 
				%a Press
			%li 
				%a Contact Us
			%li 
				%a Thanks
			%li 
				%a Disclosure
