.toolbar
	.container
		.logo
			= image_tag('MMP-logo-small.png') 



		%ul#nav-main
			%li 
				%a.active{:href => "#"} About
				%ul#dropdown
					%li
						%a{:href => "#"} About Us
					%li
						%a{:href => "#"} History
					%li
						%a{:href => "#"} Who We Are
					%li
						%a{:href => "#"} Where We are					

			%li 
				%a{:href => "#"} Resources
				%ul#dropdown
					%li
						%a{:href => "#"} Solar FAQ
					%li
						%a{:href => "#"} Solar Dictionary
					%li
						%a{:href => "#"} Useful Links


			%li 
				%a{:href => "#"} Installations
				%ul#dropdown
					%li
						%a{:href => "#"} Statistics
					%li
						%a{:href => "#"} Map
					%li
						%a{:href => "#"} Pictures
			%li 
				%a Press
			%li 
				%a{:href => "#"} Etc.
				%ul#dropdown
					%li
						%a{:href => "#"} Thanks
					%li
						%a{:href => "#"} Disclosure
					%li
						%a{:href => "#"} Contact Us

