.content
	.about#section
		.focus
		.about#content
			%h2 About
			%p Mueller Megawatt Project is a grassroots effort

	.installations#section
		.focus
		.installations#content
			%h2 Installations
	.resources#section
		.focus
		.resources#content
			%h2 Resources
	.press#section
		.focus
		.press#content
			%h2 Press

	.contact_us#section
		.focus
		.contact_us#content
			%h2 Contact Us

	.thanks#section
		.focus
		.thanks#content
			%h2 Thanks

	.disclosure#section
		.focus
		.disclosure#content
			%h2 Disclosure

