.home
	.section#about
		= render partial: 'shared/about'

	.section#resources
		= render partial: 'shared/resources'

	.section#press

	.section#contact_us

		/ %section#installations



		/ %resources#section
		/ 	.focus
		/ 	.resources#content
		/ 		%h2 Resources
		/ .press#section
		/ 	.focus
		/ 	.press#content
		/ 		%h2 Press

		/ .contact_us#section
		/ 	.focus
		/ 	.contact_us#content
		/ 		%h2 Contact Us

		/ .thanks#section
		/ 	.focus
		/ 	.thanks#content
		/ 		%h2 Thanks

		/ .disclosure#section
		/ 	.focus
		/ 	.disclosure#content
		/ 		%h2 Disclosure

