.home
	.section#about
		= render partial: 'shared/about'

	.section#resources
		= render partial: 'shared/resources'

	.section#installations
		= render partial: 'shared/installations'
		
	.gradient
		.section#contact-us
			= render partial: 'shared/contactus'