/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



h1 {
	color: #FFB960;
	font-size: 36px;
	text-decoration: bold;

}

h2, h3, h4 {
	color: #B5EC0A;
	font-size: 24px;
}

body {
	background: url(MuellerMegawattProject.jpg) top center no-repeat, black;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

/* 	-webkit-filter: contrast(4);
	filter: contrast(4);*/
.content {
	margin: 0 auto;
	width: 1200px;
}

.section {
	padding-top: 15px;
}

.color-primary-0 { color: #2BB673 }	/* Main Primary color */
.color-primary-1 { color: #77DBAB }
.color-primary-2 { color: #4BC78B }
.color-primary-3 { color: #07AD5D }
.color-primary-4 { color: #028345 }

.color-secondary-1-0 { color: #3955B1 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #8296D9 }
.color-secondary-1-2 { color: #5871C3 }
.color-secondary-1-3 { color: #193BA8 }
.color-secondary-1-4 { color: #102A7F }

.color-secondary-2-0 { color: #C6F339 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #DDF988 }
.color-secondary-2-2 { color: #D0F65D }
.color-secondary-2-3 { color: #B5EC0A }
.color-secondary-2-4 { color: #88B303 }
