/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
	color: #FFA93C;
/*	color: #77DBAB;*/
	font-size: 36px;
	text-decoration: bold;
}


h2, h3, h4 {
	color: #B5EC0A;
	font-size: 24px;
}

h1, h2, h3, h4 {
	padding-bottom: 15px;
}
p {
	color:white;
	line-height: 20px;
}

a {
	color: #79B0D4;
	text-decoration: none;
}

p, ul, table, h1, h2, h3, h4 {
	font-family: 'open_sansLight', Arial, sans-serif;
}

/*h1, h2, h3, h4 {
	font-family: 'open_sansSemibold', Arial, sans-serif;
}*/
body {
	background: url(asset-path('Mueller-Megawatt-Project.jpg')) top center no-repeat, black;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

/* 	-webkit-filter: contrast(4);
	filter: contrast(4);*/
.container {
	margin: 0 auto;
	width: 1200px;
}

.section {
	padding-top: 15px;
}


.rightsidebar {
	
}

.leftsidebar {

}

.threecolumn {

}
