

label {
  float: left;
  width: 150px;
  font-size: 20px !important;
  padding-top: 25px !important;
}


input, textarea {
  margin-top: 15px;
  margin-bottom: 15px;
}

input, textarea {
  padding: 6px;
  font-size: 18px;
  border-radius: 6px;
  border: lightgrey solid 1px;
  width: 400px;
  opacity: 0.8;
}

input:focus, textarea:focus {
  border-color: #07AD5D;
} 

textarea {
  height: 100px;
}

.submit-button {
  float: left;
  padding-left: 150px;
  text-align: center;
  width: 300px;
}

.contact_form {
  margin-left: 310px;
  width: 580px;
  padding: 20px;
  position: absolute;
}

.gradient {
  background: #d6eff6; /* Old browsers */
  background: -moz-linear-gradient(top, #d6eff6 0%, #f3f7d8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6eff6), color-stop(100%,#f3f7d8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d6eff6 0%,#f3f7d8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d6eff6 0%,#f3f7d8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d6eff6 0%,#f3f7d8 100%); /* IE10+ */
  background: linear-gradient(to bottom, #d6eff6 0%,#f3f7d8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6eff6', endColorstr='#f3f7d8',GradientType=0 ); /* IE6-9 */
}

#contact-us {
  background: url(asset-path('footer.png')) bottom center no-repeat;
  background-repeat:no-repeat;
  height: 1000px;
  overflow: hidden;

/*  background-attachment:fixed;*/
}

/*VARIABLES TO SET KEYFRAME TIMES*/

$speed-one: 30s;
$delay-one: 0s;

$speed-two: 26s;
$delay-two: -10s;

$speed-three: 54s;
$delay-three: -10s;

$speed-four: 87s;
$delay-four: -10s;

$speed-five: 46s;
$delay-five: -10s;





/*keyframe animations*/
.cloud1 {
    -webkit-animation: cloudone $speed-one linear $delay-one infinite;
       -moz-animation: cloudone $speed-one linear $delay-one infinite;
        -ms-animation: cloudone $speed-one linear $delay-one infinite;
         -o-animation: cloudone $speed-one linear $delay-one infinite;
            animation: cloudone $speed-one linear $delay-one infinite;
}

.cloud2 {
    -webkit-animation: cloudtwo $speed-two linear $delay-two infinite;
       -moz-animation: cloudtwo $speed-two linear $delay-two infinite;
        -ms-animation: cloudtwo $speed-two linear $delay-two infinite;
         -o-animation: cloudtwo $speed-two linear $delay-two infinite;
            animation: cloudtwo $speed-two linear $delay-two infinite;
}


.cloud3 {
    -webkit-animation: cloudthree $speed-three linear $delay-three infinite;
       -moz-animation: cloudthree $speed-three linear $delay-three infinite;
        -ms-animation: cloudthree $speed-three linear $delay-three infinite;
         -o-animation: cloudthree $speed-three linear $delay-three infinite;
            animation: cloudthree $speed-three linear $delay-three infinite;
}


.cloud4 {
    -webkit-animation: cloudfour $speed-four linear $delay-four infinite;
       -moz-animation: cloudfour $speed-four linear $delay-four infinite;
        -ms-animation: cloudfour $speed-four linear $delay-four infinite;
         -o-animation: cloudfour $speed-four linear $delay-four infinite;
            animation: cloudfour $speed-four linear $delay-four infinite;
}


.cloud5 {
    -webkit-animation: cloudfive $speed-five linear $delay-five infinite;
       -moz-animation: cloudfive $speed-five linear $delay-five infinite;
        -ms-animation: cloudfive $speed-five linear $delay-five infinite;
         -o-animation: cloudfive $speed-five linear $delay-five infinite;
            animation: cloudfive $speed-five linear $delay-five infinite;
}


/*CLOUD ONE*/ 
@keyframes "cloudone" {
 0% {
    margin-left: -400px;
 }


 100% {
    margin-left: 1800px;
 }
 
}
 
@-moz-keyframes cloudone {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}
 
@-webkit-keyframes "cloudone" {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}
 
@-ms-keyframes "cloudone" {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}
 
@-o-keyframes "cloudone" {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}



/*CLOUD TWO*/ 
@keyframes "cloudtwo" {
 0% {
    margin-left: -400px;
 }


 100% {
    margin-left: 1800px;
 }
 
}
 
@-moz-keyframes cloudtwo {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}
 
@-webkit-keyframes "cloudtwo" {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}
 
@-ms-keyframes "cloudtwo" {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}
 
@-o-keyframes "cloudtwo" {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}


/*CLOUD three*/ 
@keyframes "cloudthree" {
 0% {
    margin-left: -400px;
 }


 100% {
    margin-left: 1800px;
 }
 
}
 
@-moz-keyframes cloudthree {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}
 
@-webkit-keyframes "cloudthree" {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}
 
@-ms-keyframes "cloudthree" {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}
 
@-o-keyframes "cloudthree" {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}


/*CLOUD four*/ 
@keyframes "cloudfour" {
 0% {
    margin-left: -400px;
 }


 100% {
    margin-left: 1800px;
 }
 
}
 
@-moz-keyframes cloudfour {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}
 
@-webkit-keyframes "cloudfour" {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}
 
@-ms-keyframes "cloudfour" {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}
 
@-o-keyframes "cloudfour" {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}


/*CLOUD five*/ 
@keyframes "cloudfive" {
 0% {
    margin-left: -400px;
 }


 100% {
    margin-left: 1800px;
 }
 
}
 
@-moz-keyframes cloudfive {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}
 
@-webkit-keyframes "cloudfive" {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}
 
@-ms-keyframes "cloudfive" {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}
 
@-o-keyframes "cloudfive" {
 0% {
   margin-left: -400px;
 }
 100% {
   margin-left: 1800px;
 }
 
}