// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body p, body h1, body h2, body ul, body table, body b, body ul {
  font-family: 'open_sansLight', Times, sans-serif;
}

h1, h2, h3 {
  padding-bottom: 5px;
}

.container#about-tab {
  padding-top: 90px;
}

.section {
  height: 700px;
  width: 100%;
  }


.focus {
  height: 100%;
  width: 20px;
  background: #094c78;
  float: left;
}

#container {
/*  margin-left: 24px;*/
  padding: 10px;
}

#containernav ul {
  float: right;
}

.section#resources {
  background: #0F669F;
}