// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#container {
  padding: 10px;
}

/*ABOUT*/

#about h1 {
  color: #FFA93C;
}

/*#about-tab {
  padding-top: 65px;
}*/

#about-tab h1 {
  padding-bottom: 60px
}
.about-paragraph {
  width: 782px;
  float: left;
  text-shadow: 1px 1px black;
/*  padding: 50px 0 0 20px;*/
  text-align: center;
  margin-left: 180px;
  padding-bottom: 20px;

}

.about-paragraph p {
  font-size: 18px;
/*  line-height: ;*/
}

#about_us-tab img {
  border: 2px solid rgba(0,0,0,1);
}

.goal, .achieved {
  float: left;
  text-align: center;

}

.achieved {
  margin-left: 20px;
}

.goal>p, .achieved>p {
  font-size: 40px;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom: 4px solid grey;
}
.box {
  height: 75px;
  width: 140px;
  background: RGBA(20,20,20,0.8);
  float: left;
  margin: 12px;
  padding: 15px;
  padding-top: 35px;
}

.box#capacity {
  margin-left: 12px;
}
/*.box:hover {
  background: #BC3203;
  transition: background 0.5s ease;
}*/

.stat p {
  font-size: 26px;
  padding-bottom: 20px;
}

.label p {
  color: grey;
}

#who-tab>p {
  font-size: 20px;
}

#who_we_are {
  margin: 0 auto;
/*  padding-top: 50px;*/

  li {
/*    background: rgba(0,0,0,0.2);*/
    width: 380px;
    height: 200px;
    margin: 10px;
    display: block;
    float: left;
    padding-top: 10px;

    .headshot {
      float: left;

      img {
        border-bottom: 5px solid #0F669F;
      }
    }

    .bio {
      float: left;
      padding-left: 10px;
      width: 250px;
    }
  }

}

#thanks-tab {
  p {
    text-align: center;
/*    padding-top: 50px;*/
    padding-bottom: 30px;
  }

  ul {
    width: 500px;
    margin: 0 auto;
  }

  li {
    float: left;
  }

  img {
    padding-right: 20px;
  }

}

#courtesy {
  padding-top: 565px;
  text-align: right;
  width: 1200px;
  margin: 0 auto;

}
#containernav ul {
  float: right;
}

#resources {
  background: #0F669F;
}

/*#installations {
  background: #BC6A03;
}*/


.download {
  width: 100%;
  float: right;
  clear: both;
  padding-bottom: 15px;
}

.pdf-icon {
  width: 100%;
  float: left;
}

.pdf-icon p, .pdf-icon img {
  padding: 8px 0 0 10px;
  float: left;
  clear:both;
}

.pdf-icon a {
  margin-top: 10px;
  margin-left: 5px;
  float: left;
  color: white;
}
.information {
  float: left;
  clear:both;
}
/*.alignvertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/

.dictionary {
  float: right;
  width: 940px;
  padding: 10px;
}

.list>ul { 
  float: left;
  height: 450px;
  overflow: auto;
  background: white;
  margin-right: 40px; /*Padding to the right of the FAQ & Dictionary lists*/
}

#solar-faq-tab ul {
  width: 580px;
}

#solar-dictionary-tab ul {
  width: 200px;

}

.list ul li a {

}

.list ul#sub-nav li a, #resources-tab ul li a {
  color: black;
  display: block;
  padding: 8px;
}

#lightslider {
  margin: 0 auto;
}

.csSlideOuter {
  width: 800px;
  margin: 0 auto;
}

#lightSlider {
  padding-bottom: 15px;
}
#thanks-footer {
  background: black;
  float: left;
  width: 100%;
  min-width: 1200px;
  color: white;
  font-size: 12px;
  
  li {
    float: left;
    padding: 10px;
  }

  p {
    float: right;
    padding-top: 6px;
    padding-right: 10px;
    color: grey;
  }
}

.submit {
  cursor: pointer;
}

.submit:hover {
  background: lightgrey;
}

.home>a {
  height: 100px;
  background: #3b5998;
  width: 100%;
  min-width: 1200px;
  float: left;
}

.addyourinstall {
  padding-top: 15px;
  float: right;

  p {
    color: lightgrey;
  }
}

ul#solar-faq li, ul#solar-dictionary li {
  border-bottom: 1px dotted lightgrey;
  line-height: 18px;
}
