$activecolor: #028345;
$hoveractive: #07AD5D;
$toolbarheight: 48px;
/*$activecolor: #07AD5D;*/

.toolbar {
	padding: 5px 0 5px 0;
	background: black;
	position: fixed;
	height: $toolbarheight;
	width: 100%;
    border-bottom: 1px dotted #094c78;
    z-index: 1000;
}

/*body {
    padding-top: $toolbarheight + 10px;
}*/

.excuse p {
    padding: 6px;
    border-radius: 3px;
    background: #555;
/*    width: 450px;*/
    margin: 8px 0 0 130px;
    float: left;
}

.logo {
	padding-top: 5px;
	float: left;

}

.logo img {
	float: left;
}

.navigation {
    float: right;
    color: white;

	li {
		float: left;
		margin: 0 0 0 8px;
	}

	li a {
		padding: 6px;
		background: white;
	}

    li:hover {
        background: $hoveractive;
        color: white;
    }

}

.navigation li a {
	font-size: 14px;
	background: white;
	text-decoration: none;
	color: black;
    transition: background 0.5s ease;
}

#nav-main li a {
    font-size: 16px;
}

#nav-main .active, #sub-nav .active, #solar-dictionary .active, #solar-faq .active {
	background: $activecolor !important;
	color: white !important;
}

#nav-main a:hover, #sub-nav a:hover, .list ul#sub-nav a:hover, #solar-dictionary a:hover, #solar-faq a:hover {
    color: white;
    background:$activecolor;
}

/*a {
	display: block;
}*/

#nav-main{

    list-style:none;
    margin-bottom:10px;
    float:right; /* Clear floats */
	padding-top: 11px;

}
#nav-main li{
    float:left;
    margin-left: 10px;
    position:relative;
}
#nav-main a{
    display: block;
    color: #fff;
    background:#333;
    text-decoration:none;

    width: 90px;
    text-align: center;
}


/*--- DROPDOWN ---*/
#nav-main ul{
    background: lightgrey; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
    border-radius: 4px;
}

#nav-main ul a{
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
    background: grey;
    font-size: 13px;

}
#nav-main li:hover ul{ /* Display the dropdown on hover */
    left:0; /* Bring back on-screen when needed */
    padding-top: 5px;

}
#nav-main li:hover { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background:$activecolor;
}
#nav-main li:hover ul a { /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration:none;
}


