$activecolor: #16a085;
$hoveractive: #07AD5D;
$toolbarheight: 48px;
/*$activecolor: #07AD5D;*/

.toolbar {
	padding: 0px 0 0px 0;
	background: #2c3e50;
	height: $toolbarheight;
	width: 100%;
    border-bottom: 1px dotted #094c78;
    z-index: 1000;

}

/*body {
    padding-top: $toolbarheight + 10px;
}*/

.excuse p {
    padding: 6px;
    border-radius: 3px;
    background: #555;
/*    width: 450px;*/
    margin: 8px 0 0 130px;
    float: left;
}

.logo {
	padding-top: 5px;
	float: left;

}

.logo img {
	float: left;
}

.navigation {
    float: right;
    color: white;

	li {
		float: left;
		margin: 0 0 0 8px;
	}

	li a {
		padding: 6px;
		background: white;
	}

    li:hover {
        background: $hoveractive;
        color: white;
    }

}

.navigation li a {
	font-size: 14px;
	background: white;
	text-decoration: none;
	color: black;
    transition: background 0.5s ease;
}

#nav-main li a {
    font-size: 16px;
}

#nav-main .active, #sub-nav .active, #solar-dictionary .active, #solar-faq .active {
	background: $activecolor !important;
	color: white !important;
}

#nav-main a:hover, #sub-nav a:hover, .list ul#sub-nav a:hover, #solar-dictionary a:hover, #solar-faq a:hover {
    color: white;
    background:$activecolor;
}

/*a {
	display: block;
}*/

#nav-main{

    list-style:none;
    margin-bottom:10px;
    float:right; /* Clear floats */
	padding-top: 11px;

}
#nav-main li{
    float:left;
    margin-left: 10px;
    position:relative;
}
#nav-main a{
    display: block;
    color: #fff;
    background:#333;
    text-decoration:none;

    width: 90px;
    text-align: center;
}


/*--- DROPDOWN ---*/
#nav-main ul{
    background: lightgrey; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
    border-radius: 4px;
}

#nav-main ul a{
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
    background: grey;
    font-size: 13px;

}
#nav-main li:hover ul{ /* Display the dropdown on hover */
    left:0; /* Bring back on-screen when needed */
    padding-top: 5px;

}
#nav-main li:hover { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background:$activecolor;
}
#nav-main li:hover ul a { /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration:none;
}

.emphasis{
    background: #d35400 !important;

}

.emphasis:hover {
    background: #f39c12;
} 


.banner { 
    padding-top: 20px;
    height: 50px;
    background: #34495e;

}

.message p {
    display: block;
    margin: 0 auto;
}

.banner {
    height: 100vh;
    text-align: center;
/*    white-space: nowrap;*/
}

#hey {
    padding-top: 200px;
    margin: 0 auto;
    font-size: 100px;
    line-height: 120px;
}
/*.banner:after {
    content: "";
    display: table;
    clear: both;
}*/

.message p {

    display: block;
    margin: 0 auto;
}
.message {   
    height: 300px;
    border-radius: 36px;
    background: #d35400;
    margin: 0 auto;
    font-size: 32px;
    width: 800px;
    margin-top:75px;
    padding: 3px;
    text-align: center;

    a {
        color: white;
    }

    a:hover {
        color: lightgrey;
    }

}

.stick {
    top: 0;
    position: fixed;
}

.banner p, .banner img {
    display: inline;
    vertical-align: middle;
    line-height: 27px;
}

.banner img {
    padding-left: 5px;
}

#learn-more {
    padding-top: 20vh;
}

.down-arrow {
    padding-top: 30px;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}

.title p {
    float: left;
}

.fb {
    float: right;
}
